In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

This data set is from the census(https://archive.ics.uci.edu/ml/datasets/Census+Income) listing attributes(age, workclass, education, marital status, occupation, relationship, race, sex, capital gain, capital loss, hours per week and native country). We want to predict if the person makes over 50k a year given these features

In [2]:
#Importing the test and train data
TrainData = pd.read_csv("adult_data.csv") #read in training csv file
TestData = pd.read_csv("adult_data_test.csv") #read in the testing csv file

Printing the first three instances in the test data frame

In [13]:
TestData.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-Level
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
30,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States,>50K
31,56,Self-emp-not-inc,186651,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,50,United-States,<=50K
32,24,Self-emp-not-inc,188274,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K
33,23,Local-gov,258120,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
34,26,Private,43311,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
35,65,?,191846,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
36,36,Local-gov,403681,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
37,22,Private,248446,5th-6th,3,Never-married,Priv-house-serv,Not-in-family,White,Male,0,0,50,Guatemala,<=50K
38,17,Private,269430,10th,6,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
39,20,Private,257509,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
40,65,Private,136384,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
41,44,Self-emp-inc,120277,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
42,36,Private,465326,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
43,29,Private,103634,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
44,20,State-gov,138371,Some-college,10,Never-married,Farming-fishing,Own-child,White,Male,0,0,32,United-States,<=50K
45,28,Private,242832,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,36,United-States,>50K
46,39,Private,290208,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,<=50K
47,54,Private,186272,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,3908,0,50,United-States,<=50K
48,52,Private,201062,11th,7,Separated,Priv-house-serv,Not-in-family,Black,Female,0,0,18,United-States,<=50K
49,56,Self-emp-inc,131916,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States,<=50K

Printing the first three instances in the traindata frame

In [4]:
TrainData.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income-Level
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

The test data has an extra period in the income column so we get rid of it before combining

In [5]:
TestData = TestData.replace({' >50K.': ' >50K'})
TestData = TestData.replace({' <=50K.': ' <=50K'})

Since age is semi-continuous variable, we need to bin it due to the lack of data points. We describe the numberical data to find the min-max values. We do the same for the hours per week, capital loss and capital gain

In [10]:
def GetRefinedData(Data):  
    AgeBins = [10, 20, 30, 40, 50, 60, 70, 80, 90]
    HoursPerWeekBins = [i*10 for i in range(100)]
    CapGainBins = [-100.+i*1000. for i in range(1000)]
    CapLossBins = [-100.+j*100. for j in range(600)]

    #Binning data
    Data['BinnedAge'] = pd.cut(Data['age'], bins = AgeBins, labels=False)
    Data['BinnedHPW'] = pd.cut(Data['hours-per-week'], bins = HoursPerWeekBins, labels=False)
    Data['BinnedCapGain'] = pd.cut(Data['capital-gain'], bins = CapGainBins, labels=False)
    Data['BinnedCapLoss'] = pd.cut(Data['capital-loss'], bins = CapLossBins, labels=False)

    #Dropping non-binned counterparts
    Data = Data.drop(['age'], axis=1)
    Data = Data.drop(['education'], axis=1) #education already taken into account by education-num
    Data = Data.drop(['hours-per-week'], axis=1) 
    Data = Data.drop(['capital-loss'], axis=1) 
    Data = Data.drop(['capital-gain'], axis=1)
    
    #Dropping the weight column
    Data = Data.drop(['fnlwgt'], axis=1)
    
    #Creating dummy indices. We don't want the network valuing the following in numerical order so we introduce orthogonal
    #one hot encoding
 
    Data = pd.get_dummies(Data, columns = ['sex'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['workclass'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['marital-status'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['occupation'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['race'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['native-country'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['relationship'], drop_first = True)
    Data = pd.get_dummies(Data, columns = ['Income-Level'], drop_first = True)
    
    return Data

#We need to combine the test and train data to make sure each has the same dummy variables since the test and train
#values won't, in general, contain the same information such as country
def CombineTrainTestSplit(Training, Testing):
    NumberOfTraining = Training.size
    Data = pd.concat((Training, Testing), keys=['train','test'])
    RefinedData = GetRefinedData(Data)
    Train=RefinedData.loc['train',:]
    Test=RefinedData.loc['test',:]
    return Train, Test

In [11]:
RefinedTrainData, RefinedTestData = CombineTrainTestSplit(TrainData, TestData)
RefinedTrainData.head(10)

,education-num,BinnedAge,BinnedHPW,BinnedCapGain,BinnedCapLoss,sex_ Male,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,Income-Level_ >50K
0,13,2,3,2,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,13,3,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,9,2,3,0,0,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
3,7,4,3,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,13,1,3,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
5,14,2,3,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
6,5,3,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
7,9,4,4,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
8,14,2,4,14,0,0,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
9,13,3,3,5,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1